<div class="container">
  <h2>UP</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
      </tr>
    </thead>
    <tbody>
      <tr style="color: #320ed6af;" *ngFor="let product of ganerList?.data" (click)="clickToStock(product.symbol)">
        <td>{{product.symbol}}</td>
        <td>{{product.openPrice}}</td>
        <td>{{product.highPrice}}</td>
        <td>{{product.lowPrice}}</td>
      </tr>
      <tr style="color: red;" *ngFor="let loser of loserList?.data" (click)="clickToStock(loser.symbol)">
        <td>{{loser.symbol}}</td>
        <td>{{loser.openPrice}}</td>
        <td>{{loser.highPrice}}</td>
        <td>{{loser.lowPrice}}</td>
      </tr>
    </tbody>
  </table>

  <div>Open Price- {{rate}}</div>

  <div style="display: flex;padding: 5px;background: green;color: #ffffff;">
    <div style="padding: 5px;margin-right: 5px;border: solid 1px #ffffff;" *ngFor="let product of support">
      {{product.lineValue}}</div>
  </div>
  <div style="display: flex;padding: 5px;background: #f04167;color: #ffffff;">
    <div style="padding: 5px;margin-right: 5px;border: solid 1px #ffffff;"
      *ngFor="let product of resistance.reverse()">
      {{product.lineValue}}</div>
  </div>
 <h4>{{stockName}}</h4>
  <div *ngIf="chartData" style="width: 100%">
    <ng-container>
      <app-line-chart [data]="data" [resistance]="resistance" [support]="support"></app-line-chart>
    </ng-container>
  </div>
</div>