/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-header-text {
    margin: 0px !important;
}
.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    text-align: center;
}
.mat-form-field-flex {
    padding: .0em .0em .0em .4275em;
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
    border-top: 1px solid #949494;
}


.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.mat-form-field-infix {
    padding: .5em 0;
    border-top: 0em solid;
}
.line{
    stroke: red;
    stroke-width:1.5;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.area {
    fill: steelblue;
    stroke: none;
    opacity: 0.1;
}

.zeroline {
    fill: none;
    stroke: red;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
}
.resistance {
    fill: none;
    stroke: #008000;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
}
.resistancetext {
    fill: #008000;
}
.zerolinetext {
    fill: red;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: red;
}
